name: ci

on:
  push:
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      repository-projects: write
      deployments: write
      actions: write
    steps:
      
      - name: Clone forgejo
        run: |
             git clone --depth=1 --single-branch https://codeberg.org/forgejo/forgejo.git .
             ls && pwd

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Build and push forgejo rootless
        #working-directory: forgejo
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
                 ghcr.io/evanferrao/forgejo_latest:latest-rootless
                 boxinaclosedbox/forgejo_latest:latest-rootless
          file: Dockerfile.rootless

      - name: Build and push forgejo
        #working-directory: forgejo
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
                 ghcr.io/evanferrao/forgejo_latest:latest
                 boxinaclosedbox/forgejo_latest:latest
          file: Dockerfile
